h2 {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
    margin-top: 20vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header li a {
    padding: 1.4rem;
    font-family: sans-serif;
    color: #101010;
    text-decoration: none;
    position: relative;
    top: 3px;
}

header li a:hover {
    border-bottom: 1px solid #101010;
}

h1 {
    font-size: 18px;
    margin-top: 9px;
    /*padding:1rem;*/

    font-family: sans-serif;
    /*padding-left: 1rem;*/
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;

    color: #ccc;
    outline: none;
    background: #202020;

}

#date {
   text-align: center;
    font-family: sans-serif;
}
#dark {
    padding: 8px;
    color: #ccc;
    background-color: #101010;
    outline: none;
    width: 70px;
    font-family: sans-serif;
}

#light {
    padding: 8px;
    color: #ccc;
    background-color: #101010;
    outline: none;
    width: 70px;
    font-family: sans-serif;

}

li {
    list-style-type: none;
}

body {
    height: 200vh;
}

.container {
    display: grid;
    justify-content: center;
}
