h2 {
    font-size: 18px;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
    margin-top: 20vh;
}

h1 {
    font-size: 18px;
    margin-top: 2rem;

    font-family: sans-serif;
    padding-left: 1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;

    color: #ccc;
    outline: none;
    background: #202020;

}

#date {
   text-align: center;
    font-family: sans-serif;
}

body {
    height: 200vh;
}

.container {
    display: grid;
    justify-content: center;
}